:root {
    --primary-color: #F1FBF7;
    --accent-color: #19D1A9;
    --text-color: #878883;
    --background-color: #fff5ea;
    --header-background: #A7BDB4;
    --footer-background: #A7BDB4;
    --footer-text-color: #357064;
    --spacing-unit: 1em;
}
@font-face {
    font-family: 'Alegreya-Bold-Italic';
    src: url(./Alegreya_Sans/AlegreyaSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url(./Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url(./Alegreya_Sans/AlegreyaSans-Bold.ttf);
}

@font-face {
    font-family: 'Alegreya-Black';
    src: url(./Alegreya_Sans/AlegreyaSans-Black.ttf);
}

.container {
    max-width: 960px;
  }
  
.lh-condensed { line-height: 1.25; }

body{
    margin: 0 auto;
    background-color: var(--primary-color);
    color: var(--footer-text-color);
}

.form{
    padding: var(--spacing-unit);
    font-family: 'Alegreya-Regular';
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--footer-background);
    z-index: 1000; /* 确保 header 在其他元素之上 */
    font-family: 'Alegreya-Bold-Italic';
}


.logo {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Alegreya-Black';
    padding-left: var(--spacing-unit);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a:hover {
    opacity: 0.7;
}

.coverholder {
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 5%;
    font-family: 'Alegreya-Bold-Italic';
}

.covercontent h1{
    font-weight: bold;
    font-size: 1em;
}

.covercontent p{
    font-size: 0.5em;
}

.coverimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.covercontent {
    position: absolute;
    font-weight: bold;
    bottom: 5%;
    left: 5%;
    font-size: 2em;
    color: aliceblue;
    text-shadow: 2px 2px #147f86;
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--footer-text-color);
    }

