:root {
    --primary-color: #F1FBF7;
    --accent-color: #19D1A9;
    --text-color: #878883;
    --background-color: #fff5ea;
    --header-background: #A7BDB4;
    --footer-background: #A7BDB4;
    --footer-text-color: #357064;
    --spacing-unit: 1em;
}

@font-face {
    font-family: 'Alegreya-Bold-Italic';
    src: url(./Alegreya_Sans/AlegreyaSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url(./Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url(./Alegreya_Sans/AlegreyaSans-Bold.ttf);
}

@font-face {
    font-family: 'Alegreya-Black';
    src: url(./Alegreya_Sans/AlegreyaSans-Black.ttf);
}


* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--footer-background);
    z-index: 1000;
    /* 确保 header 在其他元素之上 */
    font-family: 'Alegreya-Bold-Italic';
}

.logo {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Alegreya-Black';
    padding-left: var(--spacing-unit);

}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a:hover {
    opacity: 0.7;
}



.coverholder {
    width: 100%;
    height: 100vh;
    position: relative;
}

.covercontent h1 {
    font-weight: bold;
    font-size: 2em;
}

.coverimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.covercontent {
    position: absolute;
    font-weight: bold;
    bottom: 5%;
    left: 5%;
    font-size: 2em;
    color: white;
    text-shadow: 2px 2px var(--footer-text-color);
    font-family: 'Alegreya-Bold-Italic';
}
main{
    background-color: var(--background-color);
    color: var(--text-color);
}

.section1{
    padding: 1em;
}

.section1 .row{
    gap: var(--spacing-unit);
}

#cardholder {
    background-color: var(--primary-color);
    border-radius: 0 2em 0 2em;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    padding: 0;
    margin: 1em 0;
}

#cardholder img {
    width: 100%;
    height: 80%;
    object-fit: cover;
    border-radius: 0 2em 0 2em;
}

#cardholder p {
    text-align: center;
    font-family: 'Alegreya-Bold';
    font-size: 1.2em;
    padding: var(--spacing-unit);
}

.ADcontent {
    display: flex;
    align-items: center;
    text-align: start;
    padding: 1em;
}

/*.section2{
    width: 100vw;
    height: 100vh;
    margin: 0 auto;
}

.cardholder1 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.cardholder2 {
    width: 100%;
    height: 50vh;
    display: flex;
    flex-direction: row;
}

.halfimg {
    width: 50%;
    object-fit: cover;
}*/

.col img {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

#img-holder {
    height: 80vh;
}
#img-holder img{
    border-radius: 0 12em 0 12em;
}

#content-holder {
    text-align: center;
    display: flex;
    align-items: center;
    font-family: 'Alegreya-Bold-Italic';
}

#content-holder h2 {
    padding: 10%;
    font-family: 'Alegreya-Bold-Italic';
}

.container-fluid .row .col {
    padding: 0;
}

footer {
    width: 100%;
    padding: var(--spacing-unit);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    font-family: 'Alegreya-Regular';
}

.footerL {
    padding-left: var(--spacing-unit);
}

.footerR {
    text-align: end;
}

.fa:hover {
    opacity: 0.7;
}

.footerR a {
    padding: var(--spacing-unit);
}

.footerR p {
    margin: 0;
}

.footerR hr {
    margin: 0.5em;
}


a:hover,
a:visited,
a:link,
a:active {
    text-decoration: none;
    color: var(--footer-text-color);
}



@media only screen and (max-width: 768px) {
    .content-padding {
        padding-left: 0;
    }

    div#img-holder {
        order: 1;
    }

    div#content-holder {
        order: 2;
    }
    .footerR {
        display: none; /* Hide the footerR div */
    }
}