:root {
    --primary-color: #F1FBF7;
    --accent-color: #19D1A9;
    --text-color: #878883;
    --background-color: #fff5ea;
    --header-background: #A7BDB4;
    --footer-background: #A7BDB4;
    --footer-text-color: #357064;
    --spacing-unit: 1em;
}
@font-face {
    font-family: 'Alegreya-Bold-Italic';
    src: url(./Alegreya_Sans/AlegreyaSans-BoldItalic.ttf);
}

@font-face {
    font-family: 'Alegreya-Regular';
    src: url(./Alegreya_Sans/AlegreyaSans-Medium.ttf);
}

@font-face {
    font-family: 'Alegreya-Bold';
    src: url(./Alegreya_Sans/AlegreyaSans-Bold.ttf);
}

@font-face {
    font-family: 'Alegreya-Black';
    src: url(./Alegreya_Sans/AlegreyaSans-Black.ttf);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0 auto;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--spacing-unit);
    position: fixed;
    top: 0;
    width: 100%;
    height: 10vh;
    background-color: var(--footer-background);
    z-index: 1000; /* 确保 header 在其他元素之上 */
    font-family: 'Alegreya-Bold-Italic';
}


.logo {
    font-size: 2em;
    font-weight: bold;
    font-family: 'Alegreya-Black';
    padding-left: var(--spacing-unit);
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

a:hover {
    opacity: 0.7;
}

main{
background-color: var(--background-color);
color: var(--text-color);
}

h2{
    font-family: 'Alegreya-Bold';
}


.coverholder {
    width: 100%;
    height: 30vh;
    position: relative;
    margin-bottom: 5%;
    font-family: 'Alegreya-Bold-Italic';
}

.covercontent h1{
    font-weight: bold;
    font-size: 1em;
}

.covercontent p{
    font-size: 0.5em;
}

.coverimg {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.covercontent {
    position: absolute;
    font-weight: bold;
    bottom: 5%;
    left: 5%;
    font-size: 2em;
    color: aliceblue;
    text-shadow: 2px 2px #147f86;
}

#container{
    max-width: 90vw;
    padding-bottom: var(--spacing-unit);
}

.col{
    margin: 0;
}

.col img{
    height: 80%;
    width: 100%;
    background-color: #147f86;
    object-fit: cover;
    border-radius: var(--spacing-unit);
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.col p{
    text-align: center;
    margin-top: var(--spacing-unit);
    font-family: 'Alegreya-Bold';
    font-size: 1em;
}


footer {
    width: 100%;
    padding: var(--spacing-unit);
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    background-color: var(--footer-background);
    color: var(--footer-text-color);
    font-family: 'Alegreya-Regular';
}

.footerL {
    padding-left: var(--spacing-unit);
}

.footerR {
    text-align: end;
}

.fa:hover {
    opacity: 0.7;
}

.footerR a {
    padding: var(--spacing-unit);
}

.footerR p {
    margin: 0;
}

.footerR hr {
    margin: 0.5em;
}


.seemorebox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.seemore-btn{
    height: 2em;
    text-align: center;
    border-radius: 5px;
    background-color: var(--header-background);
    color: var(--footer-text-color);
    padding: 1%;
    align-items: center;
    display: flex;
    border: none;
    font-family: 'Alegreya-Regular';
}
a:hover, a:visited, a:link, a:active {
    text-decoration: none;
    color: var(--footer-text-color);
    }
    @media only screen and (max-width: 750px){

        .footerR {
            display: none; /* Hide the footerR div */
        }
    
    }
    